body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E5E5E5;
}

::placeholder {
    color: #0A3871;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0A3871;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #0A3871;
  }

.textArea #menssage{
    color: #0A3871;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
    border: none;
    outline: none;
    resize: none;
    background-color: #E5E5E5;
    font-size: 1.5em;
}

.textArea #menssage:active{
    color: #;
}

.textArea #displayText{
    width: 17%;
    height: 75%;
    position: absolute;
    top: 2%;
    left: 75%;
    margin: 2%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 20px;
    padding: 2%;
    font-size: 1.5em;
    background-color: #ffffff;
}

#nothing{
    width: 17%;
    height: 60%;
    position: absolute;
    top: 2%;
    left: 75%;
    margin: 2%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 20px;
    padding: 2%;
    font-size: 1.5em;
}

.buttons{
    position: absolute;
    width: 70%;
    height: 30%;
    top: 60%;
}

.buttons #u{
    font-size: 1.5rem;
    border-radius: 30px;
    border-color: #0A3871;
    background-color: #D8DFE8;
    color: aliceblue;
    margin-left: 2%;
    margin-top: 3%;
    padding: 1% 2%;
}

.buttons #e{
    font-size: 1.5rem;
    border-radius: 30px;
    border-color:  #0A3871;
    background-color:  #0A3871;
    color: aliceblue;
    margin-left: 6%;
    margin-top: 3%;
    padding: 1% 2%;
}
.buttons p{
    margin: 10% 3% 1% 5%;
    padding: 2%;
}