body{
    font-family: 'Roboto Condensed', sans-serif;
}

.textArea{
    width: 100%;
    height: 65%;
}

.textArea #menssage{
    width: 80%;
    height: 60%;
    margin: 2%;
    border-color: white;
    outline: none;
}

.displayText{
    width: 15%;
    height: 95%;
    position: absolute;
    top: 3%;
    left: 85%;
}